@import "aa_partials/functions";
@import "aa_partials/variables";
@import "aa_partials/mixins";

$j:2;
@while $j<=8
{
    .picture-#{$j}
    {
        width: $j * 10%;
    }
    $j:$j+2;
}


$font-sizes : (tiny :8px,small:11px,medium:13px,large:14px);
@each $name,$size in $font-sizes
{
    .#{$name}
    {
        font-size: $size;
    }
}

$speakers : bob-banker patty-plume sandra-smith;

@each $speaker in $speakers
{
    .#{$speaker}-profile
    {
        background-image: url('/img/#{$speaker}.png');
    }
}


@for $i from 1 through 6
{
    .col-#{$i}
    {
        width : $i*2em;
    }
}

//root level
@include fancy-link;
@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}


$contrast: normal;

body {
  font-family: $text-font;

  @if $contrast == high {
    color: red;
  }
  @else if $contrast == low {
    color: yellow;
  }
  @else {
    color: $text-color;
  }

  //color : green;
  background-color: $body-background-color;
  font-size: em(18px);

  @include large-screens {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-font;
}

p {
  font-family: $text-font;
}

a {
  font-family: $text-font;
  color: $link-color;

  @include zz_blue-beans {
    color: mediumblue;
  }


  &:hover {
    /*
    // Hover styling
              background-color: #FF4E4E;
              color: white; */
    color: darken($link-color, 15%);
  }
}

#header {
  //position issue
  // @include box($border:10px solid #999);
  @include box(8px, 1px solid #999);

  //https://www.w3schools.com/cssref/css3_pr_box-shadow.asp
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $seondary-color);

  //@include box();
  height: $header-height;
  background-color: $theme-color;

  #main-menu {
    a {
      color: $menu-item-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      transition: border-bottom .5s;
      transition-timing-function: ease-in-out;

      &:hover {
        border-bottom: 1px solid opacify(#fefefe, 0.5);
      }
    }

    li {
      display: inline;
    }
  }

  #logo {}
}

#main {
  width: $content-width;

  @include large-screens {
    width: auto;
    max-width: $content-width;
  }


  margin-left: auto;
  margin-right: auto;

  #content {
    float: left;
    width: 6 * $col;
  }

  #sidebar {
    float: right;
    width: 2 * $col;

    li {
      list-style-type: none;
      padding: em(16px) em(20px);
      border-bottom: 1px dashed #999;

      &:hover {
        background-color: #efefef;
      }
    }
  }
}

#footer {
  height: $footer-height;
  clear: both;
  background-color: $ternary-color;

  @include zz_roger_rover {
    color: maroon;
    border-top: 5px solid darken($ternary-color, 15%);
  }
}

.error {
  color: red;
}

.critical-error {
  @extend .error;

  bottom: 1px solid red;
  font-weight: bold;
}

/*
.warning-button{
        @include  warning-button ;
}*/
@mixin warning-button {
  @include warning;

  padding: 8px 12px;
}

.warning-button {
  @include warning-button;
}

.cta-button {
  @include warning-button;

  @extend .error;

  @include rounded;

  font-weight: bold;
}

.super-cta-button {
  @extend .cta-button;

  font-size: em(20px);
}

%highlight {
  font-style: italic;
}

.sub-title {
  @extend %highlight;

  @extend .notexist !optional;

  font-size: em(20px);
}

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");
