$theme: Light;

//$brand : zz_blue-beans;
$brand: zz_roger_rover;

//$brand                         : default;
$text-color: #222222;
$theme-color: #170a48;
$seondary-color: yellow;
$ternary-color: #ccf962;
$link-color: $seondary-color;
$menu-item-color: white;
$body-background-color: #fff;

@if $theme == dark {
  $text-color: #fff;
  $body-background-color: #22222a;
  $theme-color: #42424a;
  $seondary-color: red;
  $ternary-color: #698932;
  $link-color: $seondary-color;
  $menu-item-color: white;
}
@else if $theme == Light {
  $text-color: #000;
  $body-background-color: #fff;
  $theme-color: #372a72;
  $seondary-color: green;
  $ternary-color: #b9da63;
  $link-color: $seondary-color;
  $menu-item-color: white;
}

$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;
$content-width: 960px;
$header-height: 70px;
$footer-height: 90px;
$col: col-width($columns: 8);
 
////////////////////////////////////////////////////////
//orange  #fff
 //$jumbotron-background_color: #f4511e;
$jumbotron-background_color: #299617;
$jumbotron-text_color: #fff;
$moto-font_jumbotron: 'Abril Fatface', cursive;
$headline-font_jumbotron: "Tangerine", cursive;
$headline-font-base_size: 50px;
$moto_font_jumbotron_base_size: 16px;
$email_font_jumbotron_base_size :20px;

$headline-font_icon:  'Josefin Sans', sans-serif;
$headline-font_prof: "Tangerine", cursive;
$email-font_icon    :  'Josefin Sans', sans-serif;


$font_package :'Roboto Slab', serif;
$package_base_size:40px;
 
 
$device_break:  null,320px,380px,420px,480px,520px,580px,620px,680px,770px;


//////////////////////////////Cube/////////////////////////////////////

$front_cube_font_heading : 'Roboto', sans-serif; 

$front_cube_font_size : 30px;

$front_cube_font_heading_color:#007bff;

$cube_dim : 480px;