$theme: Light;

//$brand : zz_blue-beans;
$brand: zz_roger_rover;

//$brand                         : default;
$text-color: #222222;
$theme-color: #170a48;
$seondary-color: yellow;
$ternary-color: #ccf962;
$link-color: $seondary-color;
$menu-item-color: white;
$body-background-color: #fff;

@if $theme == dark {
  $text-color: #fff;
  $body-background-color: #22222a;
  $theme-color: #42424a;
  $seondary-color: red;
  $ternary-color: #698932;
  $link-color: $seondary-color;
  $menu-item-color: white;
}
@else if $theme == Light {
  $text-color: #000;
  $body-background-color: #fff;
  $theme-color: #372a72;
  $seondary-color: green;
  $ternary-color: #b9da63;
  $link-color: $seondary-color;
  $menu-item-color: white;
}

$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;
$content-width: 960px;
$header-height: 70px;
$footer-height: 90px;
$col: col-width($columns: 8);
