@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";


#package{

    .card-deck .card {
        margin-left: 15px;
        margin-right: 15px;
    }

    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }

    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }


    .card{

      
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 6px;
        box-shadow: 5px 10px #888888;

        /* max-width: 350px;*/
    }

    .cardSet0{
        background-color: #669999;
    }

    .cardSet1{
        background-color: #cc6666;
    }

    .cardSet2{
        background-color: #cc9966;
    }




    .card-content-body{
        padding: 0.5rem;
    } 
    
     .font_package_heading
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }
    


}