#package .card-deck .card
{
  margin-left: 15px;
  margin-right: 15px;
}

#package .card-deck .card:not(:last-child)
{
  margin-right: 15px;
}

#package .card-deck .card:not(:first-child)
{
  margin-left: 15px;
}

#package .card
{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  /* max-width: 350px;*/;
}

#package .cardSet0
{
  background-color: #669999;
}

#package .cardSet1
{
  background-color: #cc6666;
}

#package .cardSet2
{
  background-color: #cc9966;
}

#package .card-content-body
{
  padding: 0.5rem;
}

#package .font_package_heading
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}
