@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";

body{
    background-color: #f6f6f6;

}
#topnavid
{
  
  

    a{
        color:whitesmoke;
        text-decoration: none;

        // background-color:#f4511e;


        border-bottom: 1px solid transparentize(#fefefe, 1);
        transition: border-bottom .5s;
        transition-timing-function: ease-in-out;

        &:hover {
            $base-color:#f4511e;
            border-bottom: 1px solid opacify(#fefefe, 0.5);
            background-color:darken($base-color, 20%);
            //   color:#f4511e;

            border: 1px solid darken($base-color, 20%);
            text-shadow: 0 -1px 0 darken($base-color, 10%);
            border: 2px solid red;

            border-radius: 25px;

        }

    } 

    .navbar{

      // background-color:#f4511e;
     background-color:#299617;
    }

 
    @media (max-width: 950px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;

        }
        .navbar-collapse {
            //  border-top: 5px solid transparent;
            // box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            // display: none!important;
        }

        .navbar-nav>li {
            //  float: none;
        }


    }







} 

#packageT
{

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row > div[class*='col-'] {
        display: flex;
    }

}


#jumbotron 
{

    .jumbotron-fluid {
        background-color: $jumbotron-background_color;
        color: $jumbotron-text_color;
        font-family:$headline-font_jumbotron ;

    }

    .company_caption_font {
        font-family:$headline-font_jumbotron ;
        text-shadow: 4px 4px 4px #aaa;
         color:  #19C5FF;
         
          
         
       
       

    }
    
     


    .company_moto_font {
        font-family: $moto-font_jumbotron;



        color:black;
    }
    .company_email_font {
        font-family: $email-font_icon ;

        color: #000;
    }
    
    #cloud1{
         
        
        
        animation:cloudOne infinite 30s linear; 
    }
    
    @keyframes cloudOne{
       
        0%{
            transform:translateX(-100%)
        }
        
        100%{
            
            transform:translateX(100%)
        }
    }

    img 
    {
        
        /*
        border-radius: 50%;
        border: 5px solid;


        border-color: #299617;
        border-style:double;
        */

    } 

    .jumbotron-fluid {
    margin-bottom: 0px;
    background-image: url(../02_IMAGES/aa_HOME_PAGE/03_jumbotron/background.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
     

}

 
      
.carousel-caption
{
    top: 50%;
transform: translateY(-20%);
}


 
a {
  color: #B6FF00;
  font-family: PressStart;
 
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
   color:red;
}
 
  

  




    @include font_size_adjust_company_caption($device_break,$headline-font-base_size);
    @include font_size_adjust_company_moto($device_break, $moto_font_jumbotron_base_size);
    @include font_size_adjust_company_email($device_break, $email_font_jumbotron_base_size);
}

#icons
{
    background-color:white;
    z-index: 3;


    font-family: $headline-font_icon;
    text-shadow: 4px 4px 4px #aaa;




    .icon_font
    {
        font-family: $headline-font_icon;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }

    .background {

        display: block;

        z-index: 0;

    }

    a:link {
        color: green;

        text-decoration: none;
    }
    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }


    .marquee {
        width: 100%;
        line-height: 50px;

        color: black;
        white-space: nowrap;
        font-size: 30px;
        font-style:oblique;
        overflow: hidden;
        box-sizing: border-box;
    }
    .marquee p {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 15s linear infinite;
    }
    @keyframes marquee {
        0%   { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
    }


}












#wayanad{

    .bg-grey 
    {
        background-color: #f6f6f6;
    }

    .font_wayanad
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
        border: 5px solid #ddd;
        border-radius: 7px;
        border-color: #299617;


    }






}



#profile{


    .bg-grey 
    {
        background-color: #f6f6f6;
    }

    .font_profile
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }

    img 
    {
        border-radius: 50%;
        border: 5px solid;


        border-color: #299617;
        border-style:outset;

    }


}

#package{

    .card-deck .card {
        margin-left: 15px;
        margin-right: 15px;
    }

    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }

    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }


    .card{

      
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 6px;
        box-shadow: 5px 10px #888888;

        /* max-width: 350px;*/
    }

    .cardSet0{
        background-color: #669999;
    }

    .cardSet1{
        background-color: #cc6666;
    }

    .cardSet2{
        background-color: #cc9966;
    }




    .card-content-body{
        padding: 0.5rem;
    } 
    
     .font_package_heading
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }
    


}
#package1{

    .balance-text {
        text-wrap: balance;   /* Apply (proposed) CSS style */
    }
    .carditemC {

        text-align:justify;
        text-justify:inter-word;




    }





    .font_package_heading
    {
        font-family: $headline-font_prof;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }

    background-color: #f6f6f6;
    .card-body{
        padding: 0.5rem;
    }


    .card{

        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0px;
    }
    font-family: $font_package;

    .cardSet0{
        background-color: #669999;
    }

    .cardSet1{
        background-color: #cc6666;
    }

    .cardSet2{
        background-color: #cc9966;
    }

    h3.card-title{
        font-size: 1.2rem;

    }

    h3.card-subtitle{
        font-size: 1.1rem;

    }
    p.card-text{
        font-size: 1rem;
        line-height: 1.2rem;
    }





    //  @include font_size_adjust_package_card($device_break, $package_base_size);

}
#googleMap
{
    .map-responsive{
        overflow:hidden;
        padding-bottom:50%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}


#contact{



    .button_round {
        background-color: #4CAF50; /* Green */
        border: 2px;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 auto;

    }

    .bg-grey 
    {
        background-color: #f6f6f6;
    }

    .font_contact
    {
        font-family: $headline-font_icon;
        font-size: 48px;
        color: #000;
        font-style: oblique;
        text-shadow: 4px 4px 4px #aaa;

    }

    .round {
        border: 1px solid grey;
        border-radius: 10px;
        padding: 12px 12px;
    }

    .panel {
        border: 5px solid #299617; 
        border-radius:0;
        transition: box-shadow 0.5s;
    }

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

    .panel-footer .btn:hover {
        border: 1px solid #f4511e;
        background-color: #fff !important;
        color: #299617;
    }


    .panel-heading {
        color: #fff !important;
        // background-color: #f4511e !important;
        background-color:#299617;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .panel-footer {
        background-color: #fff !important;
    }

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }



}


#faq{

    margin-top: 70px;

}

#footer1{
    background-color: #FF7F50	;
    height: 90px;
    .social{
        padding-top: 30px;

        margin:auto;
    }

    .social li {
        background: none repeat scroll 0 0 #B5B5B5;
        border: 2px solid #B5B5B5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: right;
        height: 36px;
        line-height: 36px;
        margin: 0 8px 0 0;

        padding: 0;

        text-align: center;
        width: 36px;
        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        display: inline;

    }
    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);


    }
    .social li a {
        color: #EDEFF1;
    }
    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }
    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }







}


/////////////////////////////////////////////////


.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}





@include google-font("Tangerine");
@include google-font("Tangerine");
@include google-font("Josefin+Sans:300i|PT+Serif");
@include google-font("Abril+Fatface");


#myFooter {

     

    color: white;
    padding-top: 20px;
    // background-color:#f4511e;

    background-color:#696969;
    #map-container {
        height: 240px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .row {
        margin: 0 0px;

    }

    .footer-copyright {
        background-color: #D3D3D3	;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;

    }

    .footer-copyright p {
        margin: 10px;
        color:blue;
    }

    .container {
        width: auto;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;

    }

    h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
        text-decoration: underline;
    }

    a {
        color: #d2d1d1;
        text-decoration: none;
    }

    a:hover,
        a:focus {
        text-decoration: none;
        color: white;
    }

    .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 38px;
    }

    .fa {
        font-size: 30px;
        margin-right: 15px;
        margin-left: 20px;
        background-color: white;
        color: greenyellow;
        border-radius: 51%;
        padding: 10px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 31px;
        text-decoration: none;
        transition: color 0.2s;
    }

    .fa-facebook:hover {
        color: #2b55ff;
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .fa-facebook:focus {
        color: #2b55ff;
    }

    .fa-google-plus:hover {
        color: red;
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .fa-google-plus:focus {
        color: red;
    }

    .fa-twitter:hover {
        color: #00aced;
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .fa-twitter:focus {
        color: #00aced;
    }

    @media screen and (max-width: 767px) {

        text-align: center;

        .row {
            margin: 0;
        }
    }
    #movetop{
        font-size: 10px;
        a{

        }
    }


}

/////////




.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}





